<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title> 
    </head>
    <body>
        <table>
            <thead>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </thead>
            {% for line in data %}
            <tr>
                {% for column in columns %}
                <th>{{ line[column] }}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
