<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Minecraft sessions monitoring</title> 
    </head>
    <body>
        <h1>Monitoring</h1>
        <p><a href="/view/connections/">View connections</a></p>
        <p><a href="/view/sessions/" target="_blank">View stats</a></p>
        <p><a href="/view/sessions/csv" target="_blank">Export stats to CSV</a></p>
        <p><a href="/keys/">Manage keys</a></p>
    </body>
    <style>
     table {
         margin-top: 50px;
         border-collapse: collapse;
     }
     th {
         font-size: large;
         padding: 5px;
         border: 1px solid black;
     }
     td {
         padding: 5px;
         border: 1px solid black;
     }
    </style>
</html>
